net "clk" loc="p76";
net "go" loc="p27";
net "clr" loc="p21";
net "multiplier[0]" loc="p191";
net "multiplier[1]" loc="p190";
net "multiplier[2]" loc="p196";
net "multiplier[3]" loc="p194";
net "multiplier[4]" loc="p198";
net "multiplier[5]" loc="p197";
net "multiplier[6]" loc="p200";
net "multiplier[7]" loc="p199";
net "multiplicand[0]" loc="p5";
net "multiplicand[1]" loc="p7";
net "multiplicand[2]" loc="p3";
net "multiplicand[3]" loc="p4";
net "multiplicand[4]" loc="p205";
net "multiplicand[5]" loc="p2";
net "multiplicand[6]" loc="p203";
net "multiplicand[7]" loc="p204";
net "product[0]" loc="p139";
net "product[1]" loc="p140";
net "product[2]" loc="p137";
net "product[3]" loc="p138";
net "product[4]" loc="p133";
net "product[5]" loc="p135";
net "product[6]" loc="p131";
net "product[7]" loc="p132";
net "product[8]" loc="p149";
net "product[9]" loc="p150";
net "product[10]" loc="p147";
net "product[11]" loc="p148";
net "product[12]" loc="p144";
net "product[13]" loc="p146";
net "product[14]" loc="p141";
net "product[15]" loc="p143";
net "over" loc="p181";
